/Practica02/target/
/Practica04/Practica04/target/
/Practica03/nbproject/private/
/Practica05/target/
/PracticaAdicional/target/
/ejerciciosV1/nbproject/private/
/ejerciciosV1/build/
/Examen/nbproject/private/
/Examen/build/
/Examen/dist/
/Práctica06/nbproject/private/
/Práctica06/build/
/Práctica06/dist/
/Practica07/nbproject/private/
/Ejercicio02/nbproject/private/
/Competicion/target/
/PassCracker/nbproject/private/
/PassCracker/build/
/PassCracker/dist/
/ChatMultihilosCliente/nbproject/private/
/ChatMultihilosServidor/nbproject/private/
/ChatMultihilosServidor/build/
/ChatMultihilosCliente/build/
/peliculasfx/nbproject/private/
/peliculasfx/build/
/peliculasfx/dist/
/CrackeadorDefinitivo/nbproject/private/
/CreackeadorDefinitivo/nbproject/private/
/CrackeadorDefinitivo/build/
/CrackeadorDefinitivo/dist/