/Practica02/target/
/Practica04/Practica04/target/
/Practica03/nbproject/private/
/Practica05/target/
/PracticaAdicional/target/
/ejerciciosV1/nbproject/private/
/ejerciciosV1/build/
/Examen/nbproject/private/
/Examen/build/
/Examen/dist/
/Práctica06/nbproject/private/
/Práctica06/build/
/Práctica06/dist/